.App {
  text-align: center;
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 100%);
}

::placeholder{
  color:red;
  opacity: 1;
}


